.card img {
  max-height: 150px;
  object-fit: contain;
}
.card .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}
.margin-top-15 {
  margin-top: 15px;
}
a {
  color: inherit;
}
.hidden {
  display: none
}
