<div class="row">
 {{# each products }}
        <div class="col-md-4 margin-top-15">
        <div class="card img-fluid">
          <img src="{{ this.imagePath }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text description">{{ this.description }}</p>
          </div>
          <div class="card-footer clearfix">
            <div class="price float-left">€ {{ this.price }}</div>
            <a href="#" class="btn btn-success float-right">Add to shopping cart</a>
          </div>
        </div>
         </div>
      {{/each}}
</div>
