 {{# each products }}
   <div class="row">
    <div class="card-deck margin-top-15">

      {{# each this }}
        <div class="card" style="width: 18rem;">
          <img src="{{ this.imagePath }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <div class="clearfix">
              <div class="price float-left">€ 12,00</div>
              <a href="#" class="btn btn-success float-right">Go somewhere</a>
            </div> -->
          </div>
          <div class="card-footer clearfix">
            <div class="price float-left">€ 12,00</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
          </div>
        </div>
      {{/each}}

    </div>
   </div>
 {{/each}}
